.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info
.env
.env.*
venv/
.venv/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.dist/
.build/
Dockerfile
Dockerfile.*
docker-compose.yml
*.md
